:root {
  --primary-green: #144f0f;
  --secondary-green: #4CAF50;
  --primary-red: #d63c00;
  --secondary-red: #ff4800;
  --primary-blue: #006080;
  --secondary-blue: #0082AD;
  --light-text: #f2f2f2;
  --primary-gray: #afafaf;
  --secondary-gray: #cccccc;
  --primary-silver: #ddd;
}

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 0;
}

h5 {
  font-size: 16px;
}

.topnav {
  background-color: var(--primary-green);
  overflow: hidden;
}

.navTop {
  display: inline-block;
}

.topnav h2 {
  display: inline-block;
  color: var(--light-text);
  text-align: center;
  padding: 15px 0px 0px 15px;
  margin: 0;
  text-decoration: none;
}

.topnav h3 {
  color: var(--light-text);
  text-align: center;
  font-size: 1em;
  display: none;
}

.topnav a {
  float: right;
  color: var(--light-text);
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  cursor: pointer;
}

.topnav a:hover {
  background-color: var(--primary-silver);
  color: var(--primary-green);
}

.topnav a.active {
  background-color: var(--secondary-green);
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 800px) {
  .topnav h2 {
    font-size: 1em;
  }

  .topnav h3 {
    display: block;
    font-size: 1em;
  }

  .topnav h3:hover {
    background-color: var(--primary-silver);
    color: var(--primary-green);
    cursor: pointer;
  }

  .topnav a {
    display: none;
  }

  .topnav .icon {
    display: inline-block;
  }
}

.watchlist-grid-container {
  display: grid;
  grid-template-columns: minmax(100px, 13%) minmax(100px, 13%) minmax(100px, 13%) minmax(100px, 13%) minmax(100px, 13%) minmax(100px, 13%) minmax(100px, 13%);
  justify-content: space-evenly;
}

@media screen and (max-width: 800px) {
  .watchlist-grid-container {
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-evenly;
  }
}

.watchlist-grid-container h4 {
  font-size: 1.2em;
}

.show-element h5 {
  margin: .1em 0 1em 0;
}

.show-element h6 {
  text-align: left;
  margin: .35em 0 .35em 0;
}

.time-section h6 {
  text-align: center;
}

.watched {
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button-container button {
  background-color: var(--primary-gray);
  border: none;
  border-radius: 1em;
  text-align: center;
  color: white;
  margin: .35em 0 .35em 0;
  padding: .1em .4em .1em .4em;
}

.button-container button:hover {
  background-color: var(--secondary-gray);
  cursor: pointer;
}

.remove-button {
  background-color: var(--primary-red);
  padding: .65em .65em .65em .65em;
  margin: .35em auto .35em auto;
  border: none;
  border-radius: .25em;
  text-align: center;
  color: white;
}

.remove-button:hover {
  background-color: var(--secondary-red);
  cursor: pointer;
}

.watchlist-grid-item {
  justify-self: center;
  grid-row-gap: .75em;
}

.watchlist-grid-item h4 {
  text-align: center;
  margin-bottom: .5em;
}

.watchlist-day-col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.add-show-outer {
  display: grid;
  grid-template-columns: 1fr minmax(30%, 100px) 1fr;
  justify-self: center;
  padding-bottom: 1em;
}

.add-show-outer h4 {
  margin-bottom: 0;
}

#submit-button-wrapper {
  display: flex;
  justify-content: center;
}

.add-show-inner {
  color: var(--primary-blue);
  font-size: 16px;
  display: grid;
  grid-template-columns: minmax(110px, 50%) minmax(110px, 50%);
  grid-column-gap: 10%;
  grid-row-gap: .5em;
  justify-content: space-between;
  justify-self: center;
  font-size: .8em;
}

::placeholder {
  color: var(--secondary-blue);
}

.add-show-inner input {
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid var(--primary-blue);
  padding: .5em .5em .5em .5em;
  color: var(--primary-blue);
}

.add-show-inner input:active {
  border: 1px solid var(--secondary-blue);
  outline: none;
  padding: .5em .5em .5em .5em;
}

.add-show-inner input:focus {
  border: 1px solid var(--secondary-blue);
  outline: none;
  padding: .5em .5em .5em .5em;
}

.add-show-inner select {
  width: 100%;
}

.add-show-header {
  justify-self: center;
  font-size: 1.2em;
  color: var(--primary-blue);
  padding: .5em 0 .5em 0;
}

.show-element {
  text-align: center;
  border: none;
  padding: .5em;
  margin: .5em 0 .5em 0;
}

.submit-button {
  background-color: var(--primary-blue);
  border: none;
  padding: .65em .65em .65em .65em;
  border-radius: .25em;
  text-align: center;
  color: white;
  margin: 1em 0 .5em 0;
}

.submit-button:hover {
  background-color: var(--secondary-blue);
  cursor: pointer;
}

.blue-select {
  background-color: var(--primary-blue);
  
  border-radius: .25em;
}

.blue-select select {
  margin-top: .1em;
  color: white;
  background: transparent;
  border: none;
}

.blue-select select:focus {
  outline: none;
}

.sign-up-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  background-color: var(--light-text);
  padding: 1em 0 1em 0;
  flex-wrap: wrap;
}

.sign-up-box ::placeholder {
  text-align: center;
  color: black;
}

.sign-up-box h3 {
  color: var(--primary-green);
  margin: 0 .5em 0 .5em;
}

.sign-up-box input {
  text-align: center;
  margin-left: .5em;
  margin-right: .5em;
  margin-top: .5em;
  margin-bottom: .5em;
  padding-top: .5em;
  padding-bottom: .5em;
}

.login-x-button {
  background-color: var(--primary-red);
}

.sign-up-box button {
  background-color: var(--primary-green);
  color: var(--light-text);
  border: none;
  padding: 1em 1em 1em 1em;
  margin: .5em .5em .5em .5em;
}

#helper-text-box div {
  margin-top: 1em;
  margin-bottom: 1em;
}

#helper-text-box h5 {
  text-align: center;
  margin: 0;
}