body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.watchlist-grid-container {
  display: grid;
  grid-template-columns: minmax(100px, 13%) minmax(100px, 13%) minmax(100px, 13%) minmax(100px, 13%) minmax(100px, 13%) minmax(100px, 13%) minmax(100px, 13%);
  justify-content: space-evenly;
}

.watchlist-grid-item {
  justify-self: center;
}

.add-show-outer {
  display: grid;
  grid-template-columns: 1fr minmax(30%, 100px) 1fr;
  justify-self: center;
  grid-row-gap: .75em;
}

.add-show-outer h4 {
  margin-bottom: 0;
}

#submit-button-wrapper {
  display: flex;
  justify-content: center;
}

.add-show-inner {
  display: grid;
  grid-template-columns: minmax(110px, 50%) minmax(110px, 50%);
  grid-column-gap: 10%;
  grid-row-gap: .5em;
  justify-content: space-between;
  justify-self: center;
  font-size: .8em;
}

.add-show-inner input {
  width: 100%;
}

.add-show-inner select {
  width: 100%;
}

.add-show-item {
  justify-self: center;
}

.show-element {
  display: grid;
  grid-row-gap: .1em;
  border: solid black .05em;
  padding: .5em;
}