.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  justify-content: space-evenly;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.showBox {
  padding: 5% 5% 5% 5%; 
}

#add-show {
  text-align: center;
}